$facebook: #3b5998;
$twitter: #55acee;
$gplus: #d34836;
$linkedin: #0077b5;
$skype: #0078ca;
$youtube: #cc181e;
$instagram: #125688;
//Fonts
$opensans: "Open Sans",
sans-serif;
$roboto: "Roboto",
sans-serif;
$lato: "Lato",
sans-serif;
$gabri: 'Gabriela',
serif;
$merri: "Merriweather",
sans-serif;
$oswald: 'Oswald', sans-serif;
$didact: 'Didact Gothic', sans-serif;
// Colors
$primaryColor: #2e559a;
$secondaryColor: #ffc527;
$blue: #0a599d;
$lblue: #f4fcfd;
$yellow: #e9ae0c;
$red: #e74216;
$orange: #ffa500;
$purple: #c400ff;
$black: #1c1c1c;
$green: #b48c21;
$t-color: #8a8a8a;
$dark-color: #525252;
$lgrey: #f8f8f8;
$wood: #67b915;
// addition color
$whitey: #fff;
$blackie: #333;
$dblack: #000;
$grey: #e0e0e0;
$ban-color: #fade45;