@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
body,
p,
a {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-family: $didact;
    color: $t-color;
}